* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    max-width: 50ch;
}

p {
    max-width: 100ch;
}

body {
    font-family: sans-serif;
    background-color: #E5E7E6;
}

nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em;
    background-color: #40798C;
   align-items: center;
}

nav > div {
    display: flex;
    flex-wrap: wrap;
    margin-inline: auto;
}

nav div > a {
    color: white;
    padding: 1em;
}


nav a:not(:last-child) {
    border-right: 1px solid rgb(0, 0, 0, 0.2);
}

nav a:hover {
    background-color: rgb(0, 0, 0, 0.2);
    transition-duration: 200ms;
}

nav > p {
    color: white;
    padding-left: 1em;
}

a {
    text-decoration: none;
}

.create-form {
    padding: 2em;
}

.create-form label:not(:first-child) > p,
.create-form > input {
    margin-top: 1.5em;
}

input {
    margin-top: 0.5em;
    padding: 0.60em;
}

.container {
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
    margin: 2em auto;
    border-radius: 15px;
    min-height: 600px;
    min-width: 50ch;
    max-width: 1000px;
}

.container {
    padding: 1em;
}

.container section > *:not(:first-child) {
    margin-top: 3em;
}

.welcome * + * {
    margin-top: 2em;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1em;
}

.post {
    display: flex;
    flex-wrap: nowrap;
    min-width: 35ch;
}


.post > * {
    padding: 2em;
    
    border: 1px solid rgb(0, 0, 0, 0.2);
}

.post > div:first-of-type {
    min-width: 200px;
}

.post h2 {
    padding-bottom: 5px;
    width: fit-content;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.post p {
    padding-top: 10px;
}

.post h3 {
    color: #3c6e71;
}

.post > div:last-of-type {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

.post div input {
    margin-top: 35px;
}

.create-title {
    min-width: 500px;
}

.create-article {  
    min-height: 250px;
    min-width: 500px;
}

.user-table > * {
    padding: 10px;
}

.user-table > td:first-of-type {
    border-right: 0.15em solid rgb(0, 0, 0, 0.1);
}

@media only screen and (max-width: 700px) {
    .post {
        flex-wrap: wrap;
    }
    .post > * {
        width: 100%;
    }

    nav > div {
        flex-flow: column;
        width: 100%;
        text-align: center;
    }

    nav a:not(:last-of-type) {
        border-right: none;
        border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    }
}